<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
 
    <session-factory>
 
        <!-- Настройки подключения к БД -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
 
        <property name="connection.url">
                       jdbc:postgresql://localhost:5432/test_hiber_amazon
        </property>
 
 		<property name="hibernate.hbm2ddl.auto">create-drop</property>
        
        <property name="connection.username">postgres</property>
        <property name="connection.password">ke6a1999</property>
 
        <property name="connection.pool_size">1</property>
 
        <!-- SQL диалект -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 		
 		<!-- Подключение объектов сущностей -->
        <mapping package="org.itstep.model"/>
        <mapping class="org.itstep.model.Account"/>
 
    </session-factory>
 
</hibernate-configuration>